<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Submit task</h1>
        <form method="POST" action=""> {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.as_table }}<br><br>
            {% endfor %}
            <input type="submit" value="Submit"/>
        </form>
        <br>
    <h2>NOTE : </h2>
    <pre>* Only csv format file should be imported.</pre>
    <pre>* Your csv file should be in this format:
        Question,Question type,Question options</pre>
    <pre>* In above statement,
        Question options can be:
        For Multiple Choice,4 options only,each separated by comma
        For Boolean Choice,2 options only,each separated by comma
        For Paragraph/text type,1 options only,i.e the maximum characters
        For Rating Scale,5 options only,each separated by comma
        For Number Input,2 options only, i.e minimumValue,maximumValue</pre>

</body>
</html>